<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.derek.customizablealarmclock">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllAlarms" />
        <activity android:name=".AlarmEdit" />
        <activity android:name=".AllSounds" />
        <activity android:name=".SoundsEdit" />
        <activity android:name=".ChooseVibration" />
        <activity android:name=".ChooseSong" />
        <activity android:name=".ChoosePreDownloaded" />
        <activity android:name=".ChooseRecording" />
        <activity android:name=".MakeRecording" />
        <activity android:name=".SongCrop" />
        <activity android:name=".AlarmRepeat" />
        <activity android:name=".AlarmName" />
        <activity android:name=".SoundName" />
        <activity android:name=".Help" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".AlarmReceiverScreen"></activity>
    </application>

</manifest>